{% extends 'base.html.twig' %}

{% block title %} Homepage{% endblock %}
{% block content %}

    
<div class="container">
   <div class="row">
        <div class="col s12">
            <div class="row card-panel deep-purple lighten-2 description">
                <img class="responsive-img circle" src="{{ asset('uploads/Tumblr_9287eec954e304c68593f6d5aa3af047_af38daab_250.png') }}" alt="">

                <div class="">
                    <h3 class="white-text"> Welcome! My name is Piano  </h3>

                    <p class="white-text"> Hi, welcome to my portfolio! This is a fake portfolio I made to learn how to use Symfony!
                    <br> But you can check  <a style="color:white; text-decoration:underline ;" href="https://ilanr.promo-93.codeur.online"> my actual portfolio. </a></p>
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        {% for project in projects %}
        
        <a href="{{ path('read_project', {'id': project.id}) }}" class="black-text">
        

            <div class="col s12 m6">
                <div class="card medium hoverable">

                    <div class="card-image">
                        <div class="deep-purple darken-3">
                            <img src="{{ asset('uploads/' ~ project.image) }}" class="responsive-img" alt="{{ project.title }}" style="opacity: 0.8;">
                        </div>
                        <span class="card-title" style="text-transform: capitalize "> <b> {{ project.title }} </b> </span>
                    </div>

                    <div class="card-content">
                        <p> {{ project.description|striptags|slice(0, 175)|raw }}... </p>

                    </div>
                <div class="card-action deep-purple lighten-2" style="display: flex;">
                    <a href="{{ project.weblink }}" class="valign-wrapper white-text"><i class="material-icons">public</i> &nbsp; Weblink</a>
                    <a href="{{ project.github }}" class="valign-wrapper white-text"><i class="material-icons ">rocket_launch</i> &nbsp; GitHub</a>
                    {% if app.user %}
                        <a href="{{ path('edit_project', {'id': project.id}) }}" class="btn-floating btn-small light-blue lighten-3" style="margin-left: auto;"> <i class="large material-icons">mode_edit</i> </a>
                    {% endif %} 

                </div>
            </div>

        </div>
        </a>


        

        {% endfor %}
        </div>
        
    </div>


            
{% endblock %}

