{% extends "base.html.twig" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <article class="container">
        <div class="bg-image">
            <img src="{{ asset('uploads/' ~ project.image) }}" class="article-img">
            <h2>{{ project.title }}</h2>
        </div>

        <div class="row">
            <div class="col s12 l10">
                {{ project.description|raw }}
            </div>
            <div class="col s12 l2" style="text-align: end;">
                <img class="piano" src="{{ asset('icons/favicon.png')  }}">
                                <br>
                <a href="{{ project.weblink }}" class="waves-effect deep-purple lighten-2 btn-large"><i class="material-icons left">public</i> Web Link</a>
                <a <a href="{{ project.github }}" class="waves-effect  deep-purple lighten-2 btn-large"><i class="material-icons left">rocket_launch</i> Github </a>


            </div>
        </div>
    </article>
{% endblock %}